<div style="background-color: white; text-align: center; border: 2px solid #000; padding: 20px; margin-bottom: 20px;">
  <h1>Test RS. Pondok Indah</h1>
  <p>By : Elja Gusfi Anwar</p>
</div>

<div style="background-color: white; text-align: left; border: 2px solid #000; padding: 20px; margin-bottom: 20px;" >
  <h3>Soal No. 1</h3>
  <p>
    a. Jumlah lampu yang tidak terhubung = {{ jumlahLampuTidakTerhubung }}
  </p>
  <p>
    b. Jumlah maksimum lampu yang menyala secara bersamaan = {{ maksimumLampuMenyalaBersamaan }}
  </p><br>
  <h3>Soal No. 2</h3>
  <p>
  Jumlah cara untuk mendistribusikan permen = {{ jumlahCaraPermutasi }}
  </p><br>
  <h3>Soal No. 3</h3>
  <p>
    a. Kartu atas setelah 45 langkah pengacakan = {{ kartuAtasSetelah45Langkah }}
  </p>
  <p>
    b. Kartu atas setelah 50 langkah pengacakan = {{ kartuAtasSetelah50Langkah }}
  </p>
  <p>
    c. Jumlah langkah untuk mendapatkan kartu 2 di atas = {{ langkahUntukKartu2DiAtas }}
  </p>
</div>
